<div class="object-container flex justify-center items-center gap-2 flex-wrap px-2 py-20">
  @for (file of files; track file.PK) {
  <div class="relative group" [ngClass]="{ 'border-2 border-blue-500 rounded-lg': file.isSelected }">
    <input type="checkbox" (click)="toggleSelection(file)"
      class="absolute top-2 left-2 w-6 h-6 rounded-full appearance-none border-2 border-gray-500 bg-white transition-opacity cursor-pointer checked:bg-blue-500 checked:border-blue-500">
    <span class="absolute top-2 left-2 w-6 h-6 flex items-center justify-center text-white pointer-events-none opacity-100">
      ✔
    </span>
    <img class="w-48 h-48 object-cover rounded-lg" [src]="file.fileUrl" alt="" (click)="downloadFile(file)">
  </div>
  }
</div>
