.face-box {
  background-color: transparent;  cursor: pointer;
}

.tooltip-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 999;
}

.tooltip-arrow {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(0, 0, 0, 0.4);
}
