<div class="flex flex-col lg:flex-row w-screen h-screen bg-white dark:bg-gray-900 overflow-hidden relative">

  <!-- Image + Canvas Container -->
  <div class="flex-1 flex justify-center items-center overflow-auto">
    <div class="relative">
      <img #image class="block w-full h-auto" [src]="currentObjectInView.fileUrl" (load)="onImageLoad()" />

      @for (face of faceData; track face) {
      <div class="absolute z-10 face-box" [ngStyle]="getBoxStyle(face)" (click)="onFaceClick(face)">

        @if (face.faceName) {
        <div class="tooltip-box" (click)="onFaceClick(face); $event.stopPropagation()">
          {{ face.faceName }}
          <div class="tooltip-arrow"></div>
        </div>
        }
      </div>
      }
    </div>
  </div>

  <div class="relative bg-white dark:bg-gray-800 w-full lg:w-80 p-4 border-t lg:border-t-0 lg:border-l border-gray-300 dark:border-gray-700 overflow-y-auto">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-lg font-semibold mb-2 text-gray-800 dark:text-gray-200">Image Details</h2>
      <button (click)="onBackPress()"
        class="top-4 right-4 z-20 bg-gray-900 hover:bg-gray-700 text-white p-3 rounded-full shadow-md transform transition-transform duration-300 hover:scale-105">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <p class="text-sm text-gray-600 dark:text-gray-300">
      Filename: {{ currentObjectInView.fileName }}<br />
      File Size: {{ currentObjectInView.fileSize }}<br />
      Image ID: {{ currentObjectInView.imageId || 'N/A' }}<br />
      Faces Detected: {{ faceData.length }}
    </p>
  </div>

</div>
