/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  .mat-bottom-sheet-container {
    background: #374151 !important;
  }
}

::ng-deep .mat-chip {
  padding: 0 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  background-color: rgba(0, 123, 255, 0.85);
  color: white;
}
